<h1> Évènement : <%= @event.name %></h1>

<p> <%= @event.description %></p>
<p> <%= @event.date %></p>
<p> <%= @event.place %></p>

<p>
	<% if @event.user_attendees.include? current_user %>
     <%= link_to "Vous participez déjà l'évènement", root_path, class: "btn btn-outline-primary"%> 
    <% else @event.user_attendees << current_user %>
    <%= link_to "Participer à l'évènement", subscribe_path, method: :post, class: "btn btn-outline-primary"%> 
	
	<% end %>
</p>
